<div class="container">
  <div  style="display: flex;justify-content: space-between;" >
    <h2>All Tasks </h2>
    <%= link_to "Add",  new_task_path(@task), class: "btn btn-primary rounded"%>
  </div>
  <table class="table table-striped ">
    <thead class="text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope = 'col'>Progress</th>
        <th scope="col">Starts - Ends</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each_with_index do | task ,index| %>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><%= link_to task.title, task_path(task.id)%></td>
          <td>
            <div class="progress">
              <% if task.status == "In progress"%>
                <% width = "50%" %>
                <% barColor = "bg-warning" %>
              <% elsif task.status == "Delayed" %>
                <% width = "20%" %>
                <% barColor = "bg-danger" %>
              <% else %>
                <% width ="100%" %>
                <% barColor = "bg-success" %>
              <% end %>
            <div class="progress-bar progress-bar-striped <%=barColor%> " role="progressbar" style="width: <%= width %>" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td class="text-center"><%= task.time %></td>
          <td class="text-center"><span class="status  <%= task.status == "In progress" ? "progress-status":task.status %>"><%= task.status %></span></td>
          <td class="text-center"><%= task.priority %></td>
          <td ><%= link_to raw(' <i class="fa-solid fa-pen"></i>'), edit_task_path(task) %>
          </td>
          <td><%= link_to task_path(task),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title} task?"} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
