<div class="task-grid">
  <p class="text-start"><strong>#</strong></p>
  <p class="text-start"><strong>Title</strong></p>
  <p><strong>Status</strong></p>
  <p><strong>Priority</strong></p>
  <p></p>
  <p></p>
</div>

<% @tasks_today.each_with_index do | task ,index| %>
  <%= simple_form_for task, html: {data: {controller: "edit", edit_target: "form", action: "submit->edit#update"}} do |f|%>
  <div class="task-grid">
    <p class="text-start"><%= index + 1%></p>
    <p data-edit-target="info" class="text-start" ><%= link_to task.title, task_path(task.id), class: "text-decoration-none text-dark"%></p>
    <p data-edit-target="info" class="status <%= task.status == "In progress" ? "progress-status":task.status %>"> <%= task.status %></p>
    <p data-edit-target="info"><%= task.priority %></p>
    <%= link_to raw(' <i class="fa-solid fa-pen"></i>'), edit_task_path(task), data: { edit_target: "info", action: 'click->edit#displayForm' } %>
    <%= link_to task_path(task),
          data: { edit_target: "info", turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title} task?"} do %>
          <i class="fa-solid fa-xmark"></i>
          <% end %>
        <%= f.input :title, label: false, wrapper_html: {class: "d-none", data: { edit_target: "input" }}%>
        <%= f.input :status, label: false, wrapper_html: {class: "d-none", data: { edit_target: "input" }}%>
        <%= f.input :priority , label: false, :collection => %w[High Medium Low], wrapper_html: {class: "d-none", data: { edit_target: "input" }} %>
        <%= f.submit "Update", class: "btn btn-primary new-btn d-none", data: { edit_target: "input" }  %>
</div>
      <% end %>
<% end %>
