<div class="task-grid" data-controller="edit">
  <p class="text-start"><strong>#</strong></p>
  <p class="text-start"><strong>Title</strong></p>
  <p><strong>Status</strong></p>
  <p><strong>Priority</strong></p>
  <p></p>
  <p></p>

  <% @tasks_today.each_with_index do | task ,index| %>
    <p class="text-start"><%= index + 1%></p>
    <p class="text-start"><%= link_to task.title, task_path(task.id), class: "text-decoration-none text-dark"%></p>
    <p class="status <%= task.status == "In progress" ? "progress-status":task.status %>"> <%= task.status %></p>
    <%= task.priority %>
    <%= link_to raw(' <i class="fa-solid fa-pen"></i>'), edit_task_path(task), data: { action: 'click->edit#displayForm' } %>
    <%= link_to dashboard_path(task),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title} task?"} do %>
          <i class="fa-solid fa-xmark"></i>
          <% end %>
  <% end %>

</div>
