<div class="tasks-container" data-controller="task-calendar">
  <ul class="nav border-bottom border-1 mb-3">
    <li class="nav-item m-3" >
      <a class="nav-link cal-tab" href="#" data-task-calendar-target="link" data-action="click->task-calendar#switchToMonth">Monthly</a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link cal-tab active " href="#" data-task-calendar-target="link" data-action="click->task-calendar#switchToWeek">Weekly</a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link cal-tab" href="#" data-task-calendar-target="link" data-action="click->task-calendar#switchToAllTasks">All Tasks</a>
    </li>
  </ul>

  <%# Monthly %>
  <div class="<%= params[:type] == 'month' ? '' : 'd-none' %>" data-task-calendar-target="month">
    <%= month_calendar(events: @tasks_cal, end_attribute: :end) do |date, tasks| %>
      <div class="day-date">
        <%= date %>
      </div>
      <% tasks.each do |task| %>
        <div class="meeting <%= task.priority %>">
          <%= link_to task_path(task),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title} from your tasks?"} do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
          <p><strong><%= task.title %></strong></p>
          <small><%= task.time %></small>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# Weekly %>
  <div  class="<%= params[:month] == 'month' ? 'd-none' : '' %>" data-task-calendar-target="week">
    <%= week_calendar(events: @tasks_cal, end_attribute: :end) do |date, tasks| %>
      <div class="day-date">
        <%= date %>
      </div>
      <% tasks.each do |task| %>
        <div class="meeting <%= task.priority %>">
          <%= link_to task_path(task),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title} from your tasks?"} do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
          <p><strong><%= task.title %></strong></p>
          <small><%= task.time %></small>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="d-none" data-task-calendar-target="alltasks">
<%= render "tasks/all" %>
</div>
