
<div class="container music-box" data-controller="alert">

  <span data-action="click->alert#displayAlert" style="height: 50px; width: 50px; margin-left: 4px; background-color: #FBFBF9; color: #FBFBF9; cursor: default;">click</span>
  <div class="title-container">
    <h4>DISCOVER YOUR PRODUCTIVE BEATS</h4>
  </div>

  <div class="d-none overlay mt-3" data-alert-target="overlay">
    <div class="alert-sample">
      <h4><strong><%= Alert.last.title %></strong></h4>
      <p><%= Alert.last.description %></p>
    </div>
  </div>

  <div data-controller="musics" data-musics-apikey-value="<%= ENV["OPEN_SPOTIFY_KEY"] %>">
    <%= form_with url: music_path, method: :get, html: {class:
    'form-inline align-items-center', data: {musics_target: "form"}} do |form| %>
    <%= form.text_field :query,
                        placeholder: "What do you want to listen?",
                        class: "music-query",
                        value: params[:query],
                        data: {
                          musics_target: "input",
                          action: "keyup->musics#update"
                          } %>
    <%= form.submit "Enter", class: "music-button" %>
    <% end %>

      <div data-musics-target="list">
        <!-- grid for music query results -->
      </div>

    <%# <% if @spotify_url.present? %>
      <%# <iframe style="border-radius:12px" src="https://open.spotify.com/embed/<%= @rel_url?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <% end %>
  </div>
</div>
