<div class="d-flex">
  <%# <%= render "shared/sidebar" %>

  <div class="dashboard-grid"  data-controller="add">

    <div class="d-none form-wrapper" data-add-target="form" >
      <div class="form-new-task">
        <span data-action="click->add#hideForm">X</span>
        <%= render "tasks/form_task_JS" %>
      </div>
    </div>

    <div class="two dashboard-item grid-col-span-2" >

      <div class="tasks-dashboard-card-title" >
        <p><strong>Today tasks</strong></p>
        <%= link_to "Add", new_task_path(@task), class: "btn-add-task", data: { action: "click->add#displayForm" }%>
      </div>

      <%# FORM TO CREATE NEW TASK - HIDDEN%>
      <div>
        <%= render "tasks/tasks_today" %>
      </div>
    </div>

    <div class="one dashboard-item grid-col-span-2">

      <div class="d-flex align-items-center justify-content-between">
        <p class="projects-dashboard-card-title pt-2"><strong>Project summary</strong></p>

        <%# <div class="d-flex">
          <legend class="col-form-label p-0">Filters</legend> %>
          <form>
            <div class="form-group tag-item">
              <input class="tag-selector" type="checkbox" id="leader">
              <label for="leader">Project Leader</label>
              <input class="tag-selector" type="checkbox" id="date">
              <label for="date">Due date</label>
            </div>
          </form>
        <%# </div> %>

      </div>

      <%= render "projects/project_dashboard" %>

    </div>

    <div class="three dashboard-item">
      <p class="dashboard-card-title"><strong>Overall projects progress</strong></p>
      <div class="donut-chart d-flex">
        <%= pie_chart @projects_status_count, donut: true, legend: false, width: "200px", height: "150px", colors: ["#14ae5ca7", "#dfaf55c0", "#c4381cc4"] %>
        <div class="chart-labels">
          <div class="d-flex">
            <i class="fa-solid fa-square pe-2" style="color: #14ae5ca7"></i>
            <p>Completed</p>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-square pe-2" style="color: #dfaf55c0"></i>
            <p>In progress</p>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-square pe-2" style="color: #c4381cc4"></i>
            <p>Delayed</p>
          </div>
        </div>
      </div>
    </div>

    <div class="four dashboard-item">
        <p class="dashboard-card-title"><strong>Tasks workload</strong></p>
      <div>
        <%= bar_chart @projects_workload_count, width: "100%", height: "150px" %>
      </div>
    </div>

    <div class="five grid-col-span-3">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO3Cnq2J?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </div>


</div>
