<div class="simple-calendar">
  <div class="calendar-heading">



  <%# <h3><i class="fa-solid fa-calendar-days"></i> Calendar</h3> %>
  <div class="d-flex align-items-center justify-content-between" data-controller="add">
    <div class="calendar-heading my-2 week-month-nav" >


     <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view + '&type=week', class: 'btn btn-outline-primary' %>

    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title btn btn-primary"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>
    <% else %>
      <span class="calendar-title btn btn-primary"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <% end %>
         <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view + '&type=week', class: 'btn btn-outline-primary' %>
    </div>
    <%= link_to 'Add new Task', new_task_path(@task), class: 'btn btn-info text-white', data: {action: 'click->add#displayForm'} %>

    <div class="d-none form-wrapper" data-add-target="form" >
      <div class="form-new-calendar-task">
        <span data-action="click->add#hideForm">X</span>
        <%= render "tasks/new_task" %>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>

      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
