<!DOCTYPE html>
<html>
  <head>
    <title>Remotz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

  <body>

    <div class="d-flex">

      <% unless current_page?(root_path) %>
        <div>
          <%= render "shared/sidebar" %>
        </div>
      <% end %>

      <div class="w-100 px-5 <%= "yield-container" unless params[:action] == "dashboard" && "home" %>">
        <%= yield %>
      </div>
    </div>

    <%= render "shared/flashes" %>
  </body>
</html>
