<!DOCTYPE html>
<html>
  <head>
    <title>Remotz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  </head>

  <body>

    <div class="d-flex">

      <% unless current_page?(root_path) %>
        <div>
          <%= render "shared/sidebar" if user_signed_in? %>
        </div>
      <% end %>

      <div class="w-100 px-5 <%= "yield-container" unless params[:action] == "dashboard" && "home" %>">
        <%= yield %>
      </div>
    </div>

    <%= render "shared/flashes" %>
  </body>
</html>
